\documentclass[12pt]{letter}
\nonstopmode

\usepackage{LobsterTwo}
\usepackage[T1]{fontenc}

\usepackage[margin=2cm]{geometry}
\usepackage{hyperref}
\newcommand{\novo}{\hspace{5mm}}
\newcommand{\linha}[2]{{#1} & {#2} \\}
\signature{<%= signature %>}
\usepackage[utf8]{inputenc}
\usepackage{indentfirst}
\begin{document}

\begin{letter}{}
\ECFAugie
	\opening{Querido <%= name %>,}
    
    \novo Eu pensei em mil formas de começar essa carta e todas elas se mostraram melhor que a anterior. 
    Com certeza eu não poderia escrever qualquer coisa, afinal, não são um par de adjetivos que
    farão você se derreter.
    
    \novo Estou utilizando minha ferramenta favorita para trazer pra você uma carta bem escrita seja em
    formato e conteúdo. Sei que o último é bem mais importante, mas a apresentação também conta muito.
    Além do mais, é uma forma de carinho entregar algo bem feito.
    
    \novo O mais importante pra mim é que você saiba o quanto gosto de você. E gosto muito. Nessas semanas
    em que nos conhecemos, eu venho tomando contato com uma parte crescente do seu mundo, e isso me faz ter
    ainda mais vontade de entrar mais a fundo na sua vida. Sei que temos muito a conhecer sobre o outro e
    temos (aparentemente) um longo caminho pela frente, e o que eu mais quero é continuar andando com você,
    aprendendo e ensinando tudo o que eu puder.
    
    \novo Espero que saiba o quão especial eu me sinto por ser o primeiro homem com quem você está vivenciando
    isso tudo. Eu não consigo imaginar com quantas situações novas você está se deparando, e quantos sentimentos
    que você nem sequer imaginou que existissem está descobrindo. Deve ser um desafio e tanto, e eu quero estar
    do seu lado te ajudando. Eu nunca imaginei que conheceria alguém nessas condições, isso é novidade pra mim,
    também. Acredito, entretanto, que esse carinho que há entre nós e o fato de estarmos dispostos a aprender
    um com o outro pode pavimentar o caminho a frente e nos proporcionar muitas alegrias. Saiba que eu pretendo
    aproveitar essa oportunidade e te fazer uma das mulheres mais felizes e satisfeitas senão A MAIS FELIZ de
    todas.
    
    \novo Com todo o carinho do mundo
    
    
    \LobsterTwo
    \LARGE\flushbottom\closing{\hspace{1mm}}
    
\iffalse    
	\begin{center}
		\begin{tabular}{|r l|}
			\hline
            \linha{Il Regalo Più Grande (Tiziano Ferro)}{O Maior Presente (Tradução)} \hline\hline
            \linha{Voglio farti un regalo}{Quero te dar um presente}
            \linha{Qualcosa di dolce, qualcosa di raro}{Algo doce, algo raro}
            \linha{Non un comune regalo}{Não um presente comum}
            \linha{Di quelli che hai perso o mai aperto}{Daqueles que voc\^e perdeu ou nem abriu}
            \linha{O lasciato in treno o mai accettato}{Ou deixou no trem, ou nem mesmo aceitou}
            \linha{Di quelli che apri e poi piangi}{Daqueles que você abre e chora}
            \linha{Che sei contenta e non fingi}{Que fica alegre e não disfarça}
            \linha{E in questo giorno di metà settembre}{E nesse dia do meio de Setembro}
            \linha{Ti dedicherò}{Te dedicarei}
            \linha{Il regalo mio più grande}{O meu maior presente}
            \hline
            \multicolumn{2}{|c|}{\textbf{Refrão}} \\
            \linha{Vorrei donare il tuo sorriso alla luna perché}{Quero doar seu sorriso à lua pra que}
            \linha{Di notte chi la guarda possa pensare a te}{De noite quem a olha possa pensar em ti}
            \linha{Per ricordarti che il mio amore è importante}{Pra te lembrar que meu amor é importante}
            \linha{Che non importa ciò che dice la gente perché}{Que não me importa o que dizem porque}
            \linha{Tu mi ha protetto con la tua gelosia che anche}{Você me protegeu com os seus ciúmes e ainda}
            \linha{Che molto stanco il tuo sorriso non andava via}{Que muito cansado, seu sorriso não desaparecia}
            \linha{Devo partire però se ho nel cuore la tua presenza}{Devo ir embora, mas se tenho no coração sua presença}
            \linha{È sempre arrivo e mai partenza}{É sempre chegada e jamais despedida}
            \linha{Il regalo mio più grande}{O meu maior presente}
            \hline
            \linha{}{}
            \linha{Vorrei mi facessi un regalo}{Queria que me desse um presente}
            \linha{Un sogno inespresso donarmelo adesso}{Um sonho inexpressivo, me doe-o agora}
            \linha{Di quelli che non so aprire}{Daqueles que não sei abrir}
            \linha{Di fronte ad altra gente}{Perto de outras pessoas}
            \linha{Perché il regalo più grande}{Porque o maior presente}
            \linha{È solo nostro per sempre}{É só nosso pra sempre}
            \hline \multicolumn{2}{|c|}{\textbf{Refrão}} \\ \hline
            \linha{E se arrivasse ora la fine che sia in un burrone}{E se chegasse o fim que sejam em um abismo}
            \linha{Non per volermi odiare solo per voler volare}{Não pra querer me odiar, só pra poder voar}
            \linha{E se ti nega tutto questa estrema agonia}{E se te nega tudo, essa extrema agonia}
            \linha{E se ti nega anche la vita respira la mia}{E se lhe nega também a vida, respire a minha}
            \linha{E stavo attento a non amare prima di incontrarti}{Estava alerta para não amar antes de lhe encontrar}
            \linha{E confondevo la mia vita con quella degli altri}{E confundia minha vida com a dos outros}
            \linha{Non voglio farmi più del male adesso}{Não quero me fazer mais mal}
            \linha{Amore, Amore}{Amor, amor}
            \linha{}{}
            \linha{Vorrei donare il tuo sorriso alla luna perché}{Quero doar seu sorriso à lua pra que}
            \linha{Di notte chi la guarda possa pensare a te}{De noite quem a olha possa pensar em ti}
            \linha{Per ricordarti che il mio amore è importante}{Pra te lembrar que meu amor é importante}
            \linha{Che non importa ciò che dice la gente e poi}{Que não me importa o que dizem e mais}
			\linha{Amore dato, amore preso, amore mai reso}{Amor dado, amor preso, amor não feito}
            \linha{Amore grande come il tempo che non si è arreso}{Amor grande como tempo que não se rendeu}
            \linha{E sei tu}{E é você}
            \linha{Il regalo mio più grande}{O meu maior presente} \hline
		\end{tabular}
	\end{center}
    
    Observações: \begin{itemize}
    	\item Letra e tradução: \href{https://www.letras.mus.br/tiziano-ferro/1371388/traducao.html}{Il Regalo Più Grane -- Tiziano Ferro}
        \item Meu clipe favorito com essa música \href{https://www.youtube.com/watch?v=Npf8NhTn7WA}{Tiziano Ferro Live Due IL regalo Più Grande Legenda BR
}
    \end{itemize}
\fi

\end{letter}
\end{document}
