@use "sass:color"
@use "../modules/colors"
@use "../modules/glass_effect"

$primary-blue: hsl(240, 95%, 15%)
$secondary-blue: hsl(240, 95%, 9%)

// Gradients
=gradient
  align-items: stretch
  margin: 1em 0
  height: 2em
  line-height: 2em
  color: white
  background: black
  span
    background-color: $secondary-blue

  &:before
    background: linear-gradient(to right, $primary-blue, $secondary-blue)

  &:after
    background: linear-gradient(to left, $primary-blue, $secondary-blue)

// Base Divider class
.divider
  +gradient
  display: flex
  height: fit-content

  &:before,
  &:after
    flex: 1
    content: ""

.glass
  margin: .5em auto
  width: 80%
//background-color: hsla(240, 35%, 0%, .2)

.transparent
  background-color: inherit
  width: 45%

.chakra-button
  color: colors.$primary-blue

  &:hover
    color: colors.$secondary-blue

.exp_card.css-gmuwbf
  width: 90%
  margin: 0 auto
  padding: 7.5px
  border: 1.5px solid
    color: colors.$border-color
    radius: 30px

  &:hover
    border-color: colors.$primary-blue
    box-shadow: colors.$secondary-blue 5px 5px 8px 8px, colors.$secondary-blue -5px -5px 8px 8px
//+colors.transition-blue-green(right, colors.$primary-blue, colors.$primary-green)

.css-1p5pvtm
  background-color: transparent

#begin_work
  text-align: end
  margin: auto 0

#experience
  margin-bottom: 2em

