$ball-default-color: lightgray

=tool-animation($color_hue)
  @keyframes animate-tool-box
    to
      background-color: hsl($color_hue, 100%, 90%)
      svg
        path
          color: hsl($color_hue, 100%, 50%)

.tool-ball
  background-color: $ball-default-color
  border-radius: 20px
  width: 50%
  margin: 1rem auto
  font-size: 80px
  svg
    background-color: transparent
    path
        color: hsl(0, 0%, 25%)

.tool-ball.red
  &:hover
    background-color: hsl(0, 100%, 85%)
    svg
      path
        color: hsl(0, 100%, 30%)

.tool-ball.blue
  &:hover
    background-color: hsl(240, 100%, 90%)
    svg
      path
        color: hsl(240, 100%, 10%)

.tool-ball.green
  &:hover
    background-color: hsl(120, 100%, 80%)
    svg
      path
        color: hsl(120, 100%, 10%)
