@use "modules/colors"
@use "modules/glass_effect"
@import "components/projects"
@import "components/experiences"

// styles
html, body
  padding: 0
  margin: 0
  background-color: colors.$primary-blue
  font-family: "Trocchi", cursive

a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box
  font-family: "Trocchi", cursive
  background-color: colors.$primary-blue
  color: antiquewhite

nav
  .css-lqt4hu
    background-image: linear-gradient(to right, colors.$primary-blue, colors.$primary-blue, colors.$primary-green)
    height: fit-content

.chakra-container
  margin: 20px 0
  +glass_effect.style

.chakra-text
  text-align: center
